@{
    ViewBag.Title = "AJAX Page";
}

<div class="container">
    <h4 class="text-center">Articles list</h4>
    <div class="row">
        <table id="articles-list" class="table" style="max-width:50px">
            <thead>
                <tr>
                    <th>Источник</th>
                    <th>Название новости</th>
                    <th>Описание новости</th>
                    <th>Дата публикации</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ArticlesList = [];
        $(function () {
            getAllArticles();
        });
        function getAllArticles() {
            var requestParams = {
                url: "http://localhost:54733/api/Articles",
                type: 'GET'
            };
            $.ajax(requestParams)
                .done((res) => {
                    ArticlesList = res;
                    updateArticlesList(ArticlesList);
                })
                .fail((jqXhr, textStatus, errorThrown) => {
                    showAlert('danger', errorThrown);
                });
        }
        function updateArticlesList(students) {
            $('#articles-list > tbody').empty();
            for (var index in students) {
                var s = students[index];
                var sRow = '<tr>'
                    + '<td style="max-width:440px">' + ' <a href="' + s.Link + '">' + s.Link + '</a>' + '</td>'
                    + '<td style="max-width:440px">' + s.Title + '</td>'
                    + '<td style="max-width:440px">' + s.Description + '</td>'
                    + '<td style="max-width:440px">' + s.PubDate + '</td>'
                    + '</tr>';
                $('#articles-list > tbody').append(sRow);
            }
        }
    </script>
}