@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6" style="display:table;">
            <div style="height:440px; text-align:center; vertical-align:middle; display:table-cell;">
                <div style="display:inline-block;">
                    @Html.ActionLink("POST page", "PostPage", "Home", null, new { @class= "btn btn-primary btn-lg" })
                </div>
            </div>
        </div>
        <div class="col-md-6" style="display:table;">
            <div style="height:440px; text-align:center; vertical-align:middle; display:table-cell;">
                <div style="display:inline-block;">
                    @Html.ActionLink("AJAX page", "AjaxPage", "Home", null, new { @class = "btn btn-primary btn-lg" })
                </div>
            </div>
        </div>
    </div>
</div>