@model WebApp.Models.ArticlesViewModel
@{
    ViewBag.Title = "POST Page";
}

<div class="container">
    <form method="post" action="/Home/GetArticles">
        <div class="row">
            Источник ленты
            <select id="SelectedChannel" class="form-control">
                <option>Все</option>
                @foreach (var item in Model.Channels)
                {
                    <option value="@item.Description">@item.Description</option>
                }
            </select>
        </div>
        <br />
        <div class="row">
            <input type="radio" class="sort-by" name="sort-by" value="1" checked="checked" /> Сортировать по дате
            <input type="radio" class="sort-by" name="sort-by" value="2" /> Сортировать по источнику
        </div>
        <br />
        <div class="row">
            <input type="submit" id="get-articles" value="Просмотреть" class="btn btn-primary">
        </div>
        <br />
        <div class="row">
            <table id="articles-list" class="table table-hover">
                <thead>
                    <tr>
                        <th>Источник</th>
                        <th>Название новости</th>
                        <th>Описание новости</th>
                        <th>Дата публикации</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#get-articles').bind('click', function () {
                getArticles();
            });
        });
        function getArticles() {
            var selectedChannel = $('#channels').val();
            var selectedSort = $(".sort-by:checked").val();
            var requestParams = {
                url: "http://localhost:54733/api/Articles/?selectedChannel=" + selectedChannel + "&selectedSort=" + selectedSort,
                type: 'GET'
            };
            $.ajax(requestParams)
                .done((res) => {
                    updateArticlesTable(res);
                })
                .fail((jqXhr, textStatus, errorThrown) => {
                    showAlert('danger', errorThrown);
                });
        }
        function updateArticlesTable(articles) {
            $('#articles-list > tbody').empty();
            for (var index in articles) {
                var article = articles[index];
                var row = '<tr>'
                    + '<td style="max-width:440px">' + ' <a href="' + article.Link + '">' + article.Link + '</a>' + '</td>'
                    + '<td style="max-width:440px">' + article.Title + '</td>'
                    + '<td style="max-width:440px">' + article.Description + '</td>'
                    + '<td style="max-width:440px">' + article.PubDate + '</td>'
                    + '</tr>';
                $('#articles-list > tbody').append(row);
            }
        }
    </script>
}